{% extends 'base.html' %}

{% block content %}
  {% if api %}
  <div class="jumbotron">
  <h1 class="display-4">Air Quality Index</h1>
  <p class="lead"> {{ api.data.iaqi.pm25.v }}</p> <br><br>
  <hr class="my-4">
  <p>
    Published By : {{ api.data.attributions.0.name }} <br> <br>
    Place :  {{ api.data.city.name }} <br> <br>
    Latitude : {{ api.data.city.geo.0 }}
             &nbsp;&nbsp;&nbsp;  Longitude : {{ api.data.city.geo.1 }} </p>
  </div>
  {% else %}
    Couldnot find a api
  {% endif %}
{% endblock %}
